<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Collection Voucher</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/style.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body class="voucher">

    <div class="card m-5">
        <div class="card-body main">
            <div class="card-title">
                <h3>Collection Voucher<img class="float-right" src="http://localhost:3000/img/unnamed.png" alt="GCI">
                </h3>
            </div>

            <p class="card-text">
                Dear Katherine Middle Test,<br>
                <br> Thank you for taking part in the Green Commute Initiative.When you collect your bike package from <b>-----</b> you'll need to present them with security code and the PIN as shown below as well as a form of <b>photo ID</b>. <br><br>                <b>
                    Make
                    sure you contact the bike shop beforehand to ensure the bike is ready for collection. To avoid a wasted journey, you should ask them to confirm that they have received our authorization to release the bike.
                </b><br> <br>Please be aware that by giving the supplier the PIN number, you are confirming to us that you have taken delivery of the package. You should not provide the PIN unless you are satisfied with the equipment.<br><br>
                <b>If the bike is a special order or being delivered,</b> you may have to provide the PIN before your supplier will proceed. You must endure you are satisfied with the supplier's terms and that they deliver as promised.
            </p>

            <div class="card border-light m-5 text-center">
                <div class="card-body code">
                    <h3 class="card-title">Security code</h3>
                    asdf-asdf-asdf-asdf-adsf-sdf-asdf-123412341234<br> Order number:c123<span class="tab"></span>pin:098761234<br>
                </div>
            </div>
            <p class="card-text">
                <b>we recommend you insure your bike.</b> If it's stolen or otherwise unavailable, you'll still be responsible for the salary sacrifice. We have a special offer with Laka insurance for $30 off your new policy - details on our website.<br><br>                When you collect bike, <b>take note of the frame number and any serial numbers,</b> including the battery if it's an e-bike. Your supplier will show you where to find the numbers. Take photo as well so that if it's ever stolen and recovered,
                you can prove the police it's yours. Otherwise they may not able to return you.<br><br>
            </p>
            <div class="card">
                <div class="card-body fao">
                    <h3 class="card-title">FAO:Supplier</h3>
                    <p class="card-text">
                        <b>This voucher does not authorize the release of the bike;</b> you must have received our Self Invoice with matching security code and portal login details. You should access the GCI portal using above security and PIN number
                        to confirm payment details and then release the bike package.<br><br>
                        <b>----------------------------</b><br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    #3231 Katherine Middle Test AT Reseller Leave Unchanged Chain Collection Voucher
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="" async defer></script>
</body>

</html>